---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for entry in collections.publicPages %}
  <url><loc>{{ entry.url | absoluteUrl }}</loc>{% if entry.data.publishedOn %}<lastmod>{{ entry.data.updatedOn or entry.data.publishedOn }}</lastmod>{% endif %}</url>
{% endfor %}
</urlset>
